/* style.css */

body {
	font-family: arial;
}

#calculator {
	width: 25em;
	height: 40em;
	background-color: #909090;
	left: 0;
	right: 0;
	margin: 5em auto 3em auto;
	-webkit-box-shadow: 10px 10px 35px -15px rgba(0,0,0,0.65);
	-moz-box-shadow: 10px 10px 35px -15px rgba(0,0,0,0.65);
	box-shadow: 10px 10px 35px -15px rgba(0,0,0,0.65);
	border-radius: 1em;
	position: absolute;
}

#display {
	width: 18em;
	height: 6em;
	background-color: #ADA79C;
	margin: 3em auto .3em auto;
	position: relative;
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
   	border-radius: .3em;
   	font-family: 'Press Start 2P', arial;
   	text-align: right;
}

#numpad {
	margin: 1em 2em 1em 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr;
  	align-items: stretch;
}

#operators {
	margin: 3em 2em 1em 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: stretch;
}

.numpad-btn {
	height: 5em;
	background-color: white;
	margin:.2em .2em 0 0;
	font-size: 1em;
	font-weight: bold;
	border-radius: .2em;
}

.operator-btn {
	height: 3.5em;
	background-color: #BEADAD;
	font-weight: bold;
	font-size: 1em;
	border-radius: .2em;
}

#equals {
	width: 7em;
	background-color: #AC8686;
}

#zero {
	grid-column-start: 1;
  	grid-column-end: span 2;
  	grid-row-start: 4;
  	grid-row-end: 4;
}